<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escaneo de Puertos</title>
</head>
<body>
    <h1>Escanear Puertos</h1>
    <form action="/scan" method="post">
        <label for="host">Introduce el nombre de dominio o dirección IP:</label>
        <input type="text" id="host" name="host" required>
        
        <br><br>

        <label for="range">Rango de puertos (Ejemplo: 1-1024):</label>
        <input type="text" id="range" name="range" required>
        
        <br><br>
        
        <button type="submit">Escanear</button>
    </form>
</body>
</html>
