<!DOCTYPE html>
<html lang="es">
<head>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Descubre nuestras herramientas en línea: acortador de URLs, selector de colores y generador de contraseñas. Soluciones rápidas, seguras y fáciles para tus necesidades digitales.">
    <meta name="keywords" content="generador de contraseñas, seguridad online, contraseñas seguras, crear contraseñas, generador aleatorio">
    <title>Utilidades</title>

    
</head>
<body>
    <!-- Menú de Navegación -->
    <nav class="navbar">
        <div class="logo">Utilidades</div>
        <div class="menu-icon" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="menu">
            <a href="/">Inicio</a>
            <a href="/acortador">Acortador URLS</a>
            <a href="/password">Generador de Contraseñas</a>
            <a href="/colorpicker">Selector de color</a>
            <a href="/qr">Generador QR</a>
        </div>
    </nav>

    


 

   <!-- JavaScript -->
   <script src="static/script.js"></script>
</body>
</html>

